.cardWrapper{
    width: max-content;
}

.wrapper{
    width: 100vw;
    overflow-x:scroll;
    overflow-y:hidden; 
}

.title{
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.container{
    padding-left: 2rem;
    width: max-content;
}